appdirs==1.4.4
asgiref==3.4.1
astroid==2.5.1
auditlog3==1.0.1
autopep8==1.5.6
boto3==1.18.49
botocore==1.21.49
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.7
django-axes==5.25.0
django-braces==1.14.0
django-crispy-forms==1.12.0
django-heroku==0.3.1
django-ipware==4.0.0
django-storages==1.11.1
django-summernote==0.8.11.6
docopt==0.6.2
filelock==3.0.12
gitignore==0.0.8
gunicorn==20.1.0
heroku==0.1.4
idna==3.2
isort==5.8.0
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mysql==0.0.3
Pillow==8.3.2
psycopg2==2.9.1
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pylint==2.7.2
python-dateutil==1.5
python-decouple==3.4
pytz==2021.1
reportlab==3.6.1
requests==2.26.0
s3transfer==0.5.0
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
toml==0.10.2
urllib3==1.26.7
virtualenv==20.4.3
virtualenvwrapper-win==1.2.6
whitenoise==5.3.0
wrapt==1.12.1
